# Nom de domaine racine du lab
DOMAIN_NAME=pedago.local

# Administrateur PostgreSQL
POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=SuperSecuredRootPassword2026!

# Drupal
POSTGRES_DRUPAL_DB=drupal_db
POSTGRES_DRUPAL_USER=drupal_user
POSTGRES_DRUPAL_PASSWORD=DrupalStrongPassword2026!

# Moodle
POSTGRES_MOODLE_DB=moodle_db
POSTGRES_MOODLE_USER=moodle_user
POSTGRES_MOODLE_PASSWORD=MoodleStrongPassword2026!

# Keycloak
POSTGRES_KEYCLOAK_DB=keycloak_db
POSTGRES_KEYCLOAK_USER=keycloak_user
POSTGRES_KEYCLOAK_PASSWORD=KeycloakStrongPassword2026!

# n8n
POSTGRES_N8N_DB=n8n_db
POSTGRES_N8N_USER=n8n_user
POSTGRES_N8N_PASSWORD=N8nStrongPassword2026!